* {
  color: #ccc;
  font-family: monospace;
}

body {
  background-color: #000;
}

#control {
  display: grid;
  position: fixed;
  grid-template-areas: "text text text text text control";
  gap: 1em;
  padding: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.input {
  border: 1px solid #2a9;
  background-color: #000;
  color: #6ec;
}

#input {
  grid-area: text;
}

#buttons {
  grid-area: "control";
  display: grid;
  grid-template-areas: "button button";
  gap: 1em;
}

.input-button {
  grid-area: "button";
  border: 1px solid #2a9;
  background-color: #000;
}

#output {
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  z-index: 1;
  overflow: scroll;
}

#view {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  display: grid;
  place-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}
